<div class="footer">
  <div class="footer__inner">
    <a class="footer__logo" href="<%= rootPath %>" title="DirectScale"><icon data-name="logo"></icon></a>
    
    <div class="footer__sections">
      <div class="footer__section footer__section--contact">
        <h3 class="footer__title">Contact</h3>
        <p>
          <a href="//goo.gl/maps/ZvogGHNoKY7pcz1F7" target="_blank"><%- site.addressFormatted %></a><br>
          <a href="tel:<%= site.phone %>"><%= site.phoneFormatted %></a>
        </p>
      </div>
    
      <% sitemap.forEach(section => { _%>
        <div class="footer__section">
          <h3 class="footer__title"><%= section.title %></h3>
          <% if (section.links && section.links.length) { %><ul class="footer__links">
            <% section.links.forEach(link => { %><li class="footer__link"><a href="<%= $.url(link.url, rootPath) %>"><%= link.label %></a></li><% }) %>
          </ul><% } %>
        </div>
      <%_ }) %>

      <div class="footer__section">
        <h3 class="footer__title">Social</h3>
        <div class="footer__socials footer__links">
          <a href="//facebook.com/directscale" target="_blank"><icon data-name="facebook"></icon></a>
          <a href="//twitter.com/directscale" target="_blank"><icon data-name="twitter"></icon></a>
          <a href="//linkedin.com/company/directscale" target="_blank"><icon data-name="linkedin"></icon></a>
        </div>
      </div>
    </div>
    
    <div class="footer__notice"><%- site.cookiesNotice %></div>
  </div>
</div>