<%
  var heading = typeof heading === undefined ? '' : heading;
  var subheading = typeof subheading === undefined ? '' : subheading;
  var flip = typeof flip === undefined ? false : flip;
  var center = typeof center === undefined ? false : center;
  var image = typeof image === undefined ? '' : image;
  var bgImage = typeof bgImage === undefined ? '' : bgImage;
  var fadeBg = typeof fadeBg === undefined ? false : fadeBg;
  var theme = typeof theme === undefined ? '' : theme;
_%>
<div class="hero<%= flip ? ' hero--flip' : '' %><%= theme ? ` hero--${theme}` : '' %><%= center ? ' hero--centered' : '' %><%= fadeBg ? ' hero--fade-bg' : '' %><%= image ? ' hero--has-image' : '' %>">
  <div class="hero__inner">

    <div class="hero__content">
      <% if (heading) { %><h3 class="hero__title"><%= heading %></h3><% } %>
      <% if (subheading) { %><h4 class="hero__subtitle"><%= subheading %></h4><% } %>
      <slot></slot>
    </div>

    <% if (image) { %><div class="hero__image">
      <img src="<%= image %>">
    </div><% } %>

  </div>

  <% if (bgImage) { %><div class="hero__bg" style="background-image: url('<%= bgImage %>');"></div><% } %>

</div>